 *{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    /* box-sizing: border-box; */
 }
 .allignment{
    width: 80%;
    margin: auto;
 }
 .flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .bg-primary{
    background-color:#FCEEF1 ;
 }
 .veiw-100{
    height: 100vh;
    width: 100vw;
 }
 .header-description{
    color: #272727;
    font-size: 45px;
    font-weight: 800;
 }
 .primary-paragraph{
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
 }
 .header-paragraph{
    width: 430px;
 }
 .btn-primary{
    border-radius: 5px;
    background: #E55473;
    border: 0;
    padding: 10px 15px;
    margin-top: 10px;
    color:white;
    font-weight: 800;
 }
 .header-container-items .img>img{
    height: 100vh;
 }
 .our-featured-description{
   text-align: center;
   padding: 50px;
   margin-top: 50px;
 }
 .our-featured-description>p{
   text-align: center;
   padding: 10px;
 }
 .our-featured-image{
   display: flex;
   gap: 15px;
 }
 .featured-image{
   height: 350px;
   width: 300px;
   border-radius: 200px 200px 0 0;
 }
 .featured-image>img{
   width: 200px;
 }
 .featured-image-container{
 }
.featured-image-back1{
   background-color: #F2DEE7;
 }
 .featured-image-back2{
   background-color: #C9E8F2;
 }
 .featured-image-back3{
   background-color: #E3EBDB;
 }
 .featured-image1{
   padding-top: 75px;
 }
 .featured-image2{
   padding-top: 75px;
   width: 250px !important;
 }
 .featured-image3{
   padding-top: 50px;
 }
 .featured-flower-img-name{
   text-decoration: underline;
   padding: 20px;
   font-weight: 600;
 }
 

 .mega-deal-part{
  background-color: #7CEBD3;
  
 }
 .hover-buy-one{
  background-color: #7CEBD3;

 }
 .mega-deal-img>img{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 50px;
  border: 3px solid #8B6D86;
  box-shadow: 5px 5px 5px 5px #87b1c5;
}
.mega-deal-description1{
  font-size: 80px;
  color:red;
  font-style: italic;
  }
.mega-deal-description2{
  font-size: 80px;
  color:blue;
  font-style: italic;
  }
.sub-buyone1{
  display: flex;
  height: 170px;
}
.sub-buyone1>h1{
  font-size: 120px;
  color:blue;
  font-style: italic;
}
.sub-buyone1>img{
  width: 80px;
  padding: 20px;
}
.sub-buyone2{
  display: flex;
  height: 170px;
}
.sub-buyone2>h1{
  font-size: 120px;
  color:red;
  font-style: italic;
}
.sub-buyone2>img{
  width: 80px;
  padding-left: 250px;
}

 .hot-deal-part{
   margin: 80px 0;
   height: 400px;
   padding-left: 100px;
 }
 .sub-hot-deal{
   text-align: center;
 }
 .off{
   color: #EB7C94;
 }
 .hot-deal-image>img{
   width: 200px;
   padding-right: 200px;
 }
 .hot-deal{
   font-weight: 800;
 }
.instagram-part{
  padding-bottom: 100px;
}

 .sub-instagram{
  text-align: center;
  padding: 20px;
 }
 .instagram-image img{
  width: 230px;
 }
 .instagram-image:hover .instagram-image img{
  width: 230px;
 }
 .instagram-image>img:hover{
  border: 3px solid #8B6D86;
  box-shadow: 2px 2px 2px 1px #E9EBEC;
  box-sizing: border-box; 
 }



.input-part{
  background-image: url("Flower\ Asset/Rectangle 9.png");
  padding: 100px 0;
  background-size: contain;
  background-repeat: no-repeat;
}
.sub-input{
  text-align: center;
}
.sub-input>h2,p{
  padding: 5px;
}
.input{
  padding: 5px;
}
.input>input{
  width: 480px;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 10px;
  margin-right: 10px;
}


.footer{
  background-color: #000000ce;
  padding: 100px;
  margin-top: 50px;
}
.sub-footer{

}
.sub-footer h2,p{
  color:#fff;
  text-align: center;
}
.footer-para{
  color: #fff;
  font-size: 12px;
}
.red{
  color: red;
}
.copyright{
  font-size: 8px;
}
